.contatiner {
    --chalky: #f0c994;
    --azure-radiance: #0779f3;
    --tamarind: #230f1f;
    --plum: #832d71;
    --st-tropaz: #285b9c;
    --corn: #ebbc08;
    --bronco: #aaa397;
    --soya-bean: #61594d;
    --twine: #bd8c5c;
}